@import "variables";
h1 {
    color: $red_color;
}

header,
footer {
    color: $blue_color;
}

.search-form {
    width: 400px;
    margin: 150px auto;
    border: 1px solid #ccc;
    padding: 20px;
}
